TareaBD1.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT FACTURAS (FACTURA+)>
<!ELEMENT FACTURA (PRODUCTO+)>
<!ATTLIST FACTURA NUMEROFACTURA CDATA #REQUIRED>
<!ATTLIST FACTURA FECHA CDATA #REQUIRED>
<!ATTLIST FACTURA CLIENTE CDATA #REQUIRED>

<!ELEMENT PRODUCTO (#PCDATA)>
<!ATTLIST PRODUCTO CODIGO CDATA #REQUIRED>
<!ATTLIST PRODUCTO DESCRIPCION CDATA #REQUIRED>
<!ATTLIST PRODUCTO CANTIDAD CDATA #REQUIRED>
<!ATTLIST PRODUCTO PRECIO CDATA #REQUIRED> 
